# Project Files unneeded by docker
.dockerignore

.git
.gitignore
.github

ci/cache
ci/Makefile
ci/docker

docs
README.md
LICENSE

# Native CMake/Make build
build/

# Editor directories and files
*.user
*.swp
